{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Change you password{% endblock %}

{% block content %}

<div class="container text-center height mt-5 pt-5">
    <div class="m-5 p-5"></div>
        <div class="justify-content-center my-5 py-5">
            <h1>Change you password</h1>
            <p>Use the form below to change your password.</p>
            <form action="." method="post">
                {{ form|crispy }}
                <p><input type="submit" value="Change"></p>
                {% csrf_token %}
            </form>
        </div>
</div>
{% endblock %}

    
    