{% extends "base.html" %}

{% block content %}
<div class="container text-center height mt-5 pt-5">
  <div class="m-5 p-5"></div>
    <div class="justify-content-center my-5 py-5">
      <p>Enter an email you will wish we send your password reset link to</p>
      <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
        {{ form.email.errors }}
        {% endif %}
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-primary btn-lg" value="Reset password">
      </form>
  </div>
</div>
{% endblock %}