{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}
Edit "{{ object.title }}"
    {% else %}
        Add a new content
    {% endif %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="m-5 p-5"></div>
    <div class="row">
        <div class="col-12 justify-content-center">
            <h1>
                {% if object %}
                   <small> Edit content "{{ object.title }}"</small>
                {% else %}
                    Add a new content
                {% endif %}
            </h1>
            <h2>Course info</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form|crispy }}
                {% csrf_token %}
                <p class="text-center m-2"><input type="submit" value="Save content"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}